$spacing: (
    // xs, sm, md, lg, lx = UI
    xs: 12,
    sm: 14,
    md: 16,
    lg: 18,
    xl: 20,
    2xl: 22,
    3xl: 24,
    4xl: 26,
    5xl: 28,
    6xl: 30,
    7xl: 32,
    8xl: 36,
    9xl: 38, 

    // m = micro
    m0: 2,
    m1: 4,
    m2: 6,
    m3: 8,
    m4: 10,

    // l = layout (l != 1)
    l0: 40,
    l1: 48,
    l2: 56,
    l3: 64,
    l4: 80,
    l5: 96,
    l6: 100,
    l7: 120,
    l8: 140,
    l9: 150,

    // s = section
    s0: 90,
    s1: 128,
    s2: 160,
    s3: 200,
);

$border-radius: (
    circle: 50%,

    7xs: 1,
    6xs: 2,
    5xs: 4,
    4xs: 6,
    3xs: 8,
    2xs: 10,
    xs: 12,
    sm: 14,
    md: 16,
    lg: 18,
    xl: 20,
    2xl: 22,
    3xl: 24,

    ten: 100,
);