@use '@styles/index' as *;

//

.ps {
    @include size(width, max-content, get-breakpoint(mobile), get-breakpoint(desktop));
    @include adaptive(width, get-breakpoint(mobile), get-breakpoint(desktop));
    @include space(margin, 0, auto, 0, auto);
    @include space(padding, l2, 0, l2, 0);

    &__title {
        @include font(bold, primary, var(--text-primary));
        @include space(margin, 0, 0, m3, 0);
        font-size: get-font-size(h4);
        text-transform: uppercase;
        text-align: center;
    }

    &__desc {
        @include font(medium, primary, var(--text-process-paragraph), 7xl);
        @include space(margin, 0, 0, l4, 0);
        font-size: get-font-size(p-lg);
        text-align: center;
    }
}