@use '@styles/index' as *;

//

.plan {
    @include flex($direction: column, $justify: center, $align: center);

    &__cards {
        @include size(width, full);
        @include flex($direction: column, $align: center, $gap: 7xl);
        @include breakpoint(laptop) {
            @include flex($direction: row, $justify: center, $align: stretch, $wrap: wrap);
        };
        @include breakpoint(desktop) {
            @include flex($direction: row);
        };
    }

    &__card {
        @include size(width, max-content, 343, 424);
        @include adaptive(width, 343, 424);
        @include space(padding, 7xl, 7xl, 7xl, 7xl);

        &--title {
            @include space(margin, 0, 0, lg, 0);
            @include font(regular, primary, var(--text-secondary));
            font-size: get-font-size(h6);
        }

        & button {
            @include size(width, full);
            @include space(margin, 7xl, 0, 7xl, 0);
        }

        & ul {
            @include flex($direction: column, $gap: lg);
        }

        & li {
            @include flex($gap: m1);
            @include font(medium, primary, var(--text-secondary), fourteen);
            font-size: get-font-size(p-lg);
        }

        & li svg {
            @include size(width, max-content, 24, 24);
        }
    }
}

.primary {
    background-color: var(--bg-accent);

    & h1, & h2 {
        color: var(--text-menu);
    }

    & li {
        color: var(--text-menu);
    }
}

.secondary {
    background-color: var(--bg-tertiary);

    & h1, & h2 {
        color: var(--text-secondary);
    }
}